body{
    background:#f4f7fb;
    font-family:Arial,Helvetica,sans-serif;
}

.card{
    border:none;
    border-radius:15px;
}

.btn{
    border-radius:10px;
}

.navbar-brand{
    font-size:24px;
    font-weight:bold;
}

.table{
    background:white;
}

.shadow{
    box-shadow:0 5px 20px rgba(0,0,0,.15)!important;
}