{% extends "base.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow-lg p-5">

        <h2 class="text-center text-danger">
            👨‍💼 Admin Dashboard
        </h2>

        <hr>

        <div class="row text-center">

            <div class="col-md-4">

                <div class="card bg-primary text-white p-4">

                    <h4>Total Users</h4>

                    <h1>{{ total_users }}</h1>

                </div>

            </div>

            <div class="col-md-4">

                <div class="card bg-success text-white p-4">

                    <h4>Total Reviews</h4>

                    <h1>{{ total_reviews }}</h1>

                </div>

            </div>

            <div class="col-md-4">

                <div class="card bg-warning text-dark p-4">

                    <h4>Uploaded Files</h4>

                    <h1>{{ total_files }}</h1>

                </div>

            </div>

        </div>

        <br>

        <a href="/logout"
           class="btn btn-danger">

            Logout

        </a>

    </div>

</div>

{% endblock %}