{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow-lg p-5">

        <h2 class="text-primary">
            👤 My Profile
        </h2>

        <hr>

        <table class="table">

            <tr>
                <th>Full Name</th>
                <td>{{ user.full_name }}</td>
            </tr>

            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>

        </table>

        <a href="/dashboard"
           class="btn btn-primary">

            Back to Dashboard

        </a>

    </div>

</div>

{% endblock %}